{% extends 'employee/base.html' %}
{% load static %}
{% block content %}

  <div class="card mt-2">
    <div class="card-header">
        <h5>Add Employee</h5>
    </div>
    <div class="card-body">
        <div class="col-6">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <input class="btn btn-success mt-3" type="submit" value="submit">
            </form>
        </div>
    </div>
</div>
  
{% endblock %}